@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100&family=Ubuntu:wght@300;400&display=swap');

* {
    font-family: 'Fira Sans Condensed', sans-serif;
}

body {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 2%;
    font-weight: 400;
    font-size: 24px;
}

header {
    background-color: rgba(0, 0, 0, 0.85);
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.login {

    padding: 0.01em 16px;
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif !important;
    color: #000 !important;
    box-sizing: inherit;
    display: block;
    background: no-repeat center center;
    background-size: cover;
    height: auto;
    background-color: rgb(249, 255, 255);
    background-image: url('https://miel.unlam.edu.ar/vista/imagenes/home/foto-home-3.jpg');
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.cuadros {
    display: flex;
}

.padding-cuadros {
    width: 400px;
    padding: 0.01em 16px;
    margin: 5%;
    margin-left: 5%;
}

.cuadrado-verde {
    color: #fff !important;
    background-color: #4caf50 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) !important;
    float: right !important;
}

.cuadro-blanco {
    background-color: #fff;
    padding: 5%;
    color: #000;
    display: block;
    margin: 5%;
}


.paraAcomodar {
    display: flex;
    flex-direction: column;
}

label {
    padding: 2%;
}

input {
    border: none;
    border-bottom: 1px solid #808080;
}

.boton-ing {
    margin: 2%;
    padding: 2%;
    text-decoration: none;
    text-align: center;
    background-color: #2196F3 !important;
    color: #fff;
    margin-top: 16px;
    border-radius: 3px;
}

.olvidarContra {
    color: #2196F3;
    text-align: center;

}

hr {
    border-top: 1px dashed black;
    margin: 16px 0;
}

.ingresantes {
    background-color: #3f51b5 !important;
}

.dos {
    background-color: #808080;
    background-image: url(../img/rayadasss.png);
    display: flex;
    flex-direction: column;
    background-repeat: repeat;

}

.contenedor-tarjetas {
    display: flex;
    flex-direction: row;
    margin: 1%;
}

.tarjetita {
    width: 50%;
    color: #4caf50;
    margin: 2%;

    border-color: #4caf50 !important;
    background-color: #fff;
    border-left: 6px solid;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    display: block;
    text-decoration: none;
}

.tarjetita p {
    margin-left: 3%;
}

.tarjetita img {
    width: 90%;
}

.imgg {
    color: #000;
    text-align: center;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.imgg img {
    width: 100%;
}

.mar img {
    margin: auto;
    display: block;
}

.am {
    color: #ff9800 !important;
    border: none;
    text-align: center;
}


.az {
    color: #2196F3 !important;
    border: none;
    text-decoration: none;
    text-align: center;
}


.ro {
    color: #f44336 !important;
    border: none;
    text-decoration: none;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
}

footer a{
    color: #fff;
    text-decoration: none;
}
.navFoot {
    background-color: #616161 !important;
}

.titulo{
    text-transform: uppercase;
    margin: 0;
    font-size: 18px;
    color: #cccccc;
}

li {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1%;
    color: #fff;
}

i {
    margin: 2%;
}

.link {
    text-decoration: none;
    color: #fff;
}

.redes {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.redes ol {
    display: flex;
    flex-direction: row;
    padding: 2%;
    width: 50%;
}

.redes li{
    margin: 2%;
}

ol a{
    text-decoration: none;
    color:#fff;
}

.paaa{
padding: 2%;
   text-align: center;
   font-size: small;
}

.contenedorcito{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

