@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;

    font-size: small;
    background-color: #121212;
}

.header {
    display: flex;
    justify-content: space-between;
}

.user {
    display: flex;
    flex-direction: row;
    margin-top: 0.313em;

}

.user a {
    color: #9ac89c;
    text-decoration: none;
}

.header {
    background-color: #121212;
    color: white;
    box-sizing: border-box;
    padding: 0.188em;
}

.logos {
    margin-top: 0.313em;
    margin-bottom: 0.313em;
    margin-left: 0.313em;
}

.foto-perfil {
    font-weight: bold;
    border-radius: 3.125em;
    margin-left: 0.625em;
    margin-right: 0.938em;
}

.nombre {
    margin: 0;
    margin-bottom: -0.938em;
    text-align: right;
    font-weight: bold;
}

.menu {
    color: white;
    background-color: #59a15b;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu ul {
    padding: 0%;
    margin: 0;


}

.menu a {
    text-decoration: none;
    color: white;
    padding: 0.75em;
    font-weight: bold;

}

.menu a:hover {
    background-color: #519253;
    transition: 0.5s;
}

.dots {
    padding: 0;
    margin: 0%;
}

.links {
    padding-top: 0.313em;
    font-weight: bold;
    font-size: 0.75em;
}

aside {
    height: 100%;
    position: fixed;
    padding: 0;
    margin: 0%;
    background-color: #262626;
    color: white;
    width: 15.625em;
}


.aside-items a {
    text-decoration: none;
    color: white;
}

.aside-items li:hover {
    background-color: #3d3c3c;
}

.aside-items li {
    padding: 0.625em;
    padding-left: 1.25em;
}

.aside-items i {
    padding-right: 0.938em;
}

.aside-items {
    padding: 0;
    list-style: none;
}


aside h2 {
    margin: 0;
    padding: 0.625em;
    font-size: x-large;
    font-weight: 500;
}

main {
    display: flex;
    background-color: #121212;
}

.materias-act {
    box-sizing: border-box;
    padding: 1.875em;
    align-items: center;
    width: 100%;
    color: white;
    margin-left: 20%;
}

.titulo-materias {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-materias h2 {
    font-weight: 500;
   font-size: x-large;
}

.titulo-caja-materia {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.titulo-caja-materia p {
    margin: 0;
    font-size: 0.75em;

}

.titulo-caja-materia h3 {
    margin: 0%;
    font-size: 0.938em;
    font-weight: bold;
}

.titulo-caja-materia-dots {
    display: flex;
    align-items: center;
}

.titulo-caja-materia-dots i {
    font-size: 0.938em;
    padding-left: 5em;
}

.boton-organizar-materias {
    background-color: #3d3c3c;
    padding: 0.625em;
    border-radius: 0.313em;
    text-decoration: none;
    color: white;
}

.caja-materia {
    background-color: #262626 !important;

    display: flex;
    flex-direction: row;
    /* align-content: center; */
    justify-content: flex-start;
    align-items: baseline;
    border-radius: 0.313em;
    margin-bottom: 2%;
}

.caja-materia-opciones li {
    list-style: none;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.caja-materia-opciones i {
    font-size: 1.625em;
}

.caja-materia-opciones p {
    font-size: 0.75em;
    margin: 0;
    margin-top: 25%;
}

.caja-materia-opciones ul {

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.caja-materia-opciones a {
    text-decoration: none;
    color: white;
}

.cajita-op {
    width: 6em;

}

#form i {
    font-size: 1.563em;
    padding: 0.318em;
}

.v :hover {
    background-color: rgb(88, 157, 90);
}

.a :hover {
    background-color: rgb(64, 169, 229);
}

footer {
    margin-left: 23%;
    text-align: center;
}

hr {
    border-color: #444;
    width: 70%;
    margin-left: 26%;
}

.pie p {
    color: #444;
    font-size: 0.938em;
    font-weight: bold;
}